@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Cover Letter</h2>
<p>Hello,</p>
<p>
    This letter is to express my interest in Modus Create posting for an experienced Software Developer. I have extensive experience in software programming and design and I feel that my professional and educational background will satisfy the requirements of this position.
</p><p>
    I currently live in Costa Rica, Central America, and have plenty of experience working remotely with foreign companies on IT positions and hands-on experience using .Net, databases and Javascript frameworks to create and implement software applications, I am confident I will be an asset to your organization.
</p><p>
    I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques are important to me and the success of your organization.
</p><p>
    The following highlights my experience and abilities:
    •	Development of LFO Calculator and TDC Bikes for University of Washington and Seattle County
    •	Development of Contract Management System, a web application to track and calculate the rent of all Wells Fargo ATM sites across the United States.
    •	Development of Mems, a web application to assign cases of energy problems for Puget Sound Energy.
    •	Development of BrandTracker, a web application to manage marketing campaigns for Leo Burnett clients, like Coca Cola.
    •	Development of Bing Maps Mobile Framework for Windows Mobile 6.x for Microsoft.
</p><p>
    In the position you are offering, I will continue to bring my experience, troubleshooting and problem-solving skills to ensure the timely completion of all assignments and guarantee company success and customer satisfaction.
</p><p>
    Thank you for your time and consideration. I look forward to speaking with you about this opportunity.
</p><p>
    Sincerely,
</p><p>
    Herberth Castro
    .
</p>
