@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cementery Street<br />
    Tibas, San Jose, 11302<br />
    <abbr title="Phone">Phone:</abbr>
    (506) 88372454
</address>

<address>
    <strong>Personal:</strong>   <a href="mailto:herberth.castro@gmail.com">herberth.castro@gmail.com</a><br />
</address>